vendor
.env
.git
.idea
static/*
reports/*
temp
#ignore proto file
proto/**/*.pb.go
bin
coverage.html
gl-code-quality-report.json
cover.out
.scannerwork
config.json

node_modules/
version.json
version-staging.json
version-dev.json
package-lock.json
config.json
trial/
.serverless/
.DS_Store